.vermelho-bg {  background: #ffb7b7 !important; }
.rosa-bg {  background: #f8b7ff !important; }
.azul-bg {  background: #b7bfff !important; }
.ciano-bg {  background: #b7ebff !important; }
.verde-bg {  background: #c3ffb7 !important; }
.amarelo-bg {  background: #fcffb7 !important; }
main > section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 95%;
	min-width: 1000px;
}
.highlight { background: var(--p-blue); }
article {
	flex-grow: 1;
	width: 16%;
	margin: 0.3rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
article > * { transition: 350ms; }
.coluna-head { padding: 0.8rem; }
.coluna-body {
	padding: 1rem 0.6rem;
	border-radius: 5px;
	flex: 1;
}
.add-tarefa {
	border-radius: 0.5rem;
	background-color: #ceced4;
	padding: 0.9rem 1.3rem;
	box-shadow: 1px 1px 1.3rem #c9c9e3;
	display: flex;
	cursor: pointer;
}
.coluna-footer { height: 100%; }
.is-dragging { opacity: 0.3; }
.over {
	background-color: var(--p-green);
	cursor: pointer !important;
}
.add-tarefa:hover { box-shadow: 0 1px 8px #67696a; }
.add-tarefa svg { margin-right: 10px; }
label {
	color: #9692b4;
	display: inline-block;
	width: 100%;
	margin-bottom: 0.5rem;
	padding-bottom: 3px;
}
.faixa-azul { border-bottom: 3px solid mediumaquamarine; }
.faixa-amarelo { border-bottom: 3px solid sandybrown; }
.faixa-verde { border-bottom: 3px solid seagreen; }
.faixa-laranja { border-bottom: 3px solid peru; }
.faixa-roxo { border-bottom: 3px solid purple; }
.tarefa {
	-webkit-user-drag: element;
	border-radius: 7px;
	background-color: #ffffff;
	box-shadow: 0px 1px 0.5rem #dbdbec;
	cursor: pointer;
	justify-content: space-between;
	margin-bottom: 5px;
	transition: 0.3s cubic-bezier(0.2, 1, 0.1, 1);
	display: grid;
	gap: 2px 5px;
	padding: 8px;
	grid-template:
		"nome	   nome		 nome"		 1.6rem
		"verificar termino	 prioridade" 1rem
		"etiqueta  categoria designado"	 30px
		/ 1fr	   1fr		 30px;
}
.tarefa:hover { box-shadow: 1px 1px 8px #b4b4b4; }
::-webkit-scrollbar { 
	width: 11px; 
	height: 10px; 
}
::-webkit-scrollbar-track-piece  {
	background-color: #d6d6d6;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: #414141;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}
/* ---------------------- Tarefa ---------------------- */
.nome { grid-area: nome; }
.prioridade { grid-area: prioridade; }
.verificar { grid-area: verificar; }
.termino { grid-area: termino; }
.etiqueta { grid-area: etiqueta; }
.categoria { grid-area: categoria; }
.designado { grid-area: designado; }
.termino, .verificar {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	fill: gray;
}
.termino, .verificar, span { font-size: 0.7rem; }
.verificar svg, .termino svg { margin-right: 3px; }
.perfil {
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 500px;
}
.categoria, .etiqueta {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
span {
	flex: 1;
	text-align: center;
	color: white;
	padding: 0.2rem;
	border-radius: 0.3rem;
}
.etiqueta span { background: var(--d-red); }
.categoria span { background: var(--d-blue); }
.nome {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 85%;
}
.prioridade {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* --------------------------- Modal Task --------------------------- */
.modal-container {
	position: absolute;
	background-color: white;
	color: #474747;
	filter: drop-shadow(1px 1px 10px rgb(82, 82, 82));
	border-radius: 8px;
	z-index: 5;
	width: 50vw;
	min-width: 350px;
	max-height: 80vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}
.modal-container > * { padding: 1rem 2.2rem; }
.modal-container hr {
	border: none;
	border-bottom: 1px solid #bbbbbb;
	margin: 0.1rem 0;
	padding: 0;
}
.filter {
	width: 100%;
	height: 100%;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0, 0.5);
}
.blur { filter: blur(5px); }
.modal-container #referencia {
	background: #c5c2b8;
	border: none;
	padding: 7px 10px;
	border-radius: 5px;
	width: 100%;
	min-width: 200px;
}
.modal-container #details {
	display: flex;
	justify-content: space-between;
}
.modal-container #details button {
	padding: 6px 8px;
	border-radius: 4px;
	border: none;
	background: rgb(148, 145, 134);
	color: white;
	cursor: pointer;
}
.modal-container #details button:hover { filter: brightness(0.9); }
.modal-container .checkbox-group {
	display: flex;
	align-items: center;
	padding: 5px 0;
}
.modal-container .check-svg-group {
	display: flex;
	align-items: center;
	padding: 5px 0;
	cursor: pointer;
}
.check-group {
	display: flex;
	align-items: center;
	padding: 5px 0;
}
.icon-group legend { margin-left: 5px; }
.icon-group {
	display: flex;
	align-items: center;
	margin: 0.6rem 0;
}
.icon-group > * { 
	margin: 0;
	padding: 0;
}
.icon-group > *:last-child { margin-left: 11px; }
.icon-group > *:first-child { 
	height: 1.1rem;
	width: 1.1rem;
}
.modal-container header > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.modal-container h2 { width: 100%; }
.modal-container header .head > p {
	margin: 0;
	margin-bottom: 14px;
	display: flex;
}
.modal-container span {
	background: #511aa8;
	padding: 4px 8px;
	cursor: pointer;
}
.modal-container .items-group.x {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}
.modal-container .items-group.y {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#subtasks {  padding: 1rem 10%; }
.modal-container .items-group.x > * { margin: 3px 12px; }
.modal-container .items-group.y > * { margin: 7px 0; }
.modal-container .items-group input[type=date] {
	border: none;
	background:#9692b4;
	border-radius: 5px;
	padding: 5px;
	max-width: 7rem;
	color: white;
}
.modal-container .items-group input[type=date]::-webkit-calendar-picker-indicator{
    margin-left: 3px;
	cursor: pointer;
	color-scheme: dark;
}
.modal-container .items-group input[type=date]::-webkit-datetime-edit { 
	text-align: right;
	padding: 0;
}
.modal-container .comment-container { margin: 0.5rem 0 0 0; }
.modal-container .comment-body {
	padding: 4px 16px;
	background-color: whitesmoke;
	border-radius: 8px;
	margin-bottom: 1.5rem;
}
.modal-container .comment-body p { font-size: 90%; }
.modal-container .comment-head {
	color: #272727;
	padding: 0 0 0.5rem 0;
}
.modal-container .comment-head small{
	color: #555555;
	margin-left: 7px;
}
.modal-container .comment-menu { float: right; }
.modal-container .comment-menu > * { cursor: pointer; }
/* ------------------------------ Task Modal Form ---------------------------- */
#task-form-modal form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;	
}
#task-form-modal form textarea { resize: none; }
#task-form-modal form > * { 
	width: 30%;
	margin: 0;
	padding: 4px;
}
#task-form-modal form *:last-child {  height: 2rem; }
#task-form-modal fieldset {
	display: inline-block;
	overflow: hidden;
}
#task-form-modal fieldset > *:last-child {
	width: 100%;
	display: inline-block;
	border: none;
	padding: 8px 12px;
	background: var(--p-yellow);
	border-radius: 6px;
	box-sizing: border-box;
}
#task-form-modal textarea[name="descricao"] { height: 5rem; }
