section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 95%;
	min-width: 1000px;
}
.tarefa {
	-webkit-user-drag: element;
	min-height: 3rem;
}
.highlight { background: var(--p-blue); }
article {
	flex-grow: 1;
	width: 16%;
	margin: 0.3rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
article * { transition: 400ms; }
.coluna-head { padding: 0.8rem; }
.coluna-body {
	padding: 1rem;
	border-radius: 5px;
	flex: 1;
}
.add-tarefa {
	border-radius: 0.5rem;
	background-color: #ceced4;
	padding: 1.1rem 1.3rem;
	box-shadow: 1px 1px 1.3rem #c9c9e3;
	display: flex;
	cursor: pointer;
}
.coluna-footer { height: 100%; }
.is-dragging {
    opacity: 0.3;
	cursor: help !important;
}
.over {
	background-color: var(--p-green);
	cursor: pointer !important;
}
.add-tarefa:hover { box-shadow: 1px 1px 0.5rem rgb(161, 161, 161); }
.add-tarefa svg { margin-right: 10px; }
label {
	color: #9692b4;
	display: inline-block;
	width: 100%;
	margin-bottom: 0.5rem;
	padding-bottom: 3px;
}
#aguardando { border-bottom: 3px solid mediumaquamarine; }
#andamento { border-bottom: 3px solid sandybrown; }
#concluido { border-bottom: 3px solid seagreen; }
#espera { border-bottom: 3px solid peru; }
#cancelado { border-bottom: 3px solid purple; }
.tarefa {
	border-radius: 7px;
	background-color: #ffffff;
	box-shadow: 0px 1px 0.5rem #dbdbec;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
	margin-bottom: 5px;
	transition: 0.3s cubic-bezier(0.2, 1, 0.1, 1);
	display: grid;
	gap: 2px 5px;
	padding: 8px;
	grid-template:
		"nome	   nome		 nome"		 1.6rem
		"verificar termino	 prioridade" 1rem
		"etiqueta  categoria designado"	 30px
		/ 1fr	   1fr		 30px;
}
.tarefa:hover {
	background-color: #e1e7ee;
	box-shadow: none;
}
/* ---------------------- Tarefa ---------------------- */
.nome { grid-area: nome; }
.prioridade { grid-area: prioridade; }
.verificar { grid-area: verificar; }
.termino { grid-area: termino; }
.etiqueta { grid-area: etiqueta; }
.categoria { grid-area: categoria; }
.designado { grid-area: designado; }

.termino, .verificar, span { font-size: 0.7rem; }
.termino, .verificar {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	fill: gray;
}
.termino svg, .verificar svg {
	margin-right: 3px;
}
.perfil {
	width: 100%;
	height: 100%;
	border-radius: 5rem;
}
.categoria, .etiqueta {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
span {
	flex: 1;
	text-align: center;
	color: white;
	padding: 0.2rem;
	border-radius: 0.3rem;
}
.etiqueta span { background: var(--d-red); }
.categoria span { background: var(--d-blue); }
.nome {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.prioridade {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--green);
}
