body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 7vh auto 13vh;
	grid-template-areas: "nav"
						 "main"
						 "footer";
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	color: var(--d-blue);
	scroll-behavior: smooth;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--red);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	box-shadow: 0px 0px 8px gray;
}
nav div {
	/* min-width: 20%; */
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav div > * {
	padding: 0 2rem;
}
svg {
	padding: 0 0.4rem;
	height: 2rem;
}
nav a {
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	background: var(--smoke);
	min-height: 74vh;
	padding: 3vh 0;
}
footer {
	background: var(--green);
	color: rgb(211, 207, 189);
	display: flex;
	align-items: center;
	justify-content: center;
}
nav a {
	text-decoration: none;
	color: var(--smoke);
}
footer a {
	color: var(--smoke);
}
hr {
	margin: 2rem 0;
}
fieldset {
	border: none;
}
.sobre {
	cursor: help;
}
