@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
html {
	font-size: 16px;
}
* {
	-webkit-user-drag: none;
}
body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 7vh auto 13vh;
	grid-template-areas: "nav"
						 "main"
						 "footer";
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	color: #3b336e;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: brown;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	box-shadow: 0px 0px 8px gray;
}
nav div {
	/* min-width: 20%; */
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav div > * {
	padding: 0 2rem;
}
svg {
	padding: 0 0.4rem;
	height: 2rem;
}
nav a {
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	background: whitesmoke;
	min-height: 74vh;
	padding: 3vh 2rem;
}
footer {
	background: cadetblue;
	color: rgb(211, 207, 189);
	display: flex;
	align-items: center;
	justify-content: center;
}
nav a {
	text-decoration: none;
	color: cornsilk;
}
footer a {
	color: cornsilk;
}
hr {
	margin: 2rem 0;
}
fieldset {
	border: none;
}
.in {
	padding: 0.5rem 1rem;
	border: 1px solid gray;
	border-radius: 0.3rem;
	cursor: pointer;	
	font-size: 1rem;
}
.btn {
	padding: 0.7rem 1rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	min-width: 6rem;
	text-align: center;
}
.btn:hover {
	box-shadow: 1px 1px 0.5rem rgb(161, 161, 161);
}
.green {
	background-color: green;
	color: #ffffff;
}
.yellow {
	background-color: peru;
	color: #ffffff;
}
.red {
	background-color: darkred;
	color: #ffffff;
}
.blue {
	background-color: #3b336e;
	color: #ffffff;
}
.white {
	background-color: whitesmoke;
	color: #3b336e;
}


