@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 7vh 87vh 6vh;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
nav {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	display: flex;
	flex-direction: row;
	justify-content: space-around;

	background-color: #516173;
	color: white;
	padding: 15px;
	z-index: 1;
	box-shadow: 1px 1px 10px rgb(179, 177, 177);
}
aside {
	grid-column: 1 / 2;
	grid-row: 1 / 3;

	background-color: #3b336e;
	color: white;
	z-index: 2;
	padding: 15px;
}
main {
	grid-column: 2 / 3;
	grid-row: 2 / 3;

	background-color: snow;
	color: #3b336e;
	padding: 15px;
	overflow: auto;
}
footer {
	grid-column: 1 / 3;
	grid-row: 3 / 4;

	background-color: #516173;
	color: white;
	padding: 15px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* ------------------------------------------ */

input, textarea {
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}
input:focus, textarea:focus {
	outline: none;
}
nav a {
	text-decoration: none;
	color: white;
	padding: 5px;
	display: flex;
	align-items: center;
}
nav a svg {
	margin: 3px;
}
aside ul, aside li {
	list-style-type: none;
}
aside button {
	background-color: snow;
	color: #3b336e;
	padding: 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	width: 100%;
}
aside button:hover {
	box-shadow: 1px 1px 15px rgb(34, 16, 42);
}
aside ul {
	display: flex;
	flex-direction: column;
}
aside li {
	padding: 3px;
}
footer p, footer a {
	line-height: 0;
	text-decoration: none;
}
footer p {
	color: lightgray;
}
footer a {
	color: white;
}
#logo {
	margin-bottom: 15px;
	font-size: larger;
}
