@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap);
:root {
	font-size: 16px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	font-family: 'Open Sans', sans-serif;

	--smoke: whitesmoke;

	--blue: #2A2275;
	--p-blue: #e4e2ec;
	--d-blue: #3b336e;
	--o-blue: #3b336ecc;

	--red: #DB3E34;
	--p-red: #e9e2e2;
	--d-red: #4F1131;

	--yellow: #F0E445;
	--p-yellow: #e9e7e1;
	--d-yellow: #5f532e;

	--green: #009990;
	--p-green: #d2e1d9;
	--d-green: #365142;
}
* {
	outline: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.green {
	background-color: var(--green);
	color: var(--smoke);
}
.yellow {
	background-color: var(--blue);
	color: var(--smoke);
}
.red {
	background-color: var(--red);
	color: var(--smoke);
}
.blue {
	background-color: var(--blue);
	color: var(--smoke);
}
.white {
	background-color: var(--smoke);
	color: var(--d-blue);
}
.svg-blue {
	fill: var(--p-blue);
	cursor: pointer;
}
.btn {
	padding: 0.7rem 1rem;
	margin: 0.1rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	min-width: 6rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 170ms ease;
}
.btn:hover { box-shadow: 1px 1px 0.5rem rgb(0, 0, 0, 0.5); }
.btn:focus-visible {
	outline: 1px solid var(--d-red);
	filter: brightness(90%);
}
.in {
	padding: 0.7rem 1rem;
	border: 1px solid gray;
	border-radius: 0.3rem;
	background-color: #97cadb;
	border: none;
	cursor: pointer;	
}
fieldset { border: none; }
body {
	display: grid;
	grid-template: 
		"nav"	 7vh
		"main"	 auto
		"footer" 13vh
		/ 100%; 
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	color: var(--d-blue);
	scroll-behavior: smooth;
}
nav {
	grid-area: nav;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--d-red);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	box-shadow: 0px 0px 8px gray;
}
nav div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav div > * { padding: 0 2rem; }
svg {
	padding: 0 0.4rem;
	height: 2rem;
}
nav a {
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	grid-area: main;
	background: var(--smoke);
	min-height: 74vh;
	padding: 3vh 0;
}
footer {
	grid-area: footer;
	background: var(--blue);
	color: rgb(211, 207, 189);
	display: flex;
	align-items: center;
	justify-content: center;
}
nav a {
	text-decoration: none;
	color: var(--smoke);
}
footer a { color: var(--smoke); }
hr { margin: 2rem 0; }
fieldset { border: none; }
.sobre { cursor: help; }