@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap);
:root {
	font-size: 16px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	font-family: 'Open Sans', sans-serif;

	--smoke: whitesmoke;

	--blue: #2A2275;
	--p-blue: #e4e2ec;
	--d-blue: #3b336e;
	--o-blue: #3b336ecc;

	--red: #DB3E34;
	--p-red: #e9e2e2;
	--d-red: #4F1131;

	--yellow: #F0E445;
	--p-yellow: #e9e7e1;
	--d-yellow: #5f532e;

	--green: #009990;
	--p-green: #d2e1d9;
	--d-green: #365142;
}
* {
	outline: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.green {
	background-color: var(--green);
	color: var(--smoke);
}
.yellow {
	background-color: var(--blue);
	color: var(--smoke);
}
.red {
	background-color: var(--red);
	color: var(--smoke);
}
.blue {
	background-color: var(--blue);
	color: var(--smoke);
}
.white {
	background-color: var(--smoke);
	color: var(--d-blue);
}
.svg-blue {
	fill: var(--p-blue);
	cursor: pointer;
}
.btn {
	padding: 0.7rem 1rem;
	margin: 0.1rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	min-width: 6rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 170ms ease;
}
.btn:hover { box-shadow: 1px 1px 0.5rem rgb(0, 0, 0, 0.5); }
.btn:focus-visible {
	outline: 1px solid var(--d-red);
	filter: brightness(90%);
}
.in {
	padding: 0.7rem 1rem;
	border: 1px solid gray;
	border-radius: 0.3rem;
	background-color: #97cadb;
	border: none;
	cursor: pointer;	
}
fieldset { border: none; }
@media screen and (max-width: 575px) { 
	/* Extra Small */
	body {
		grid-template:
			"nav    nav"    7vh
			"main   main"   86vh
			"footer footer" 7vh
			/ 13rem 1fr;
	}
	aside { display: none; }
}
@media screen and (min-width: 576px) and (max-width: 767px) { 
	/* Small */
	body {
		grid-template:
			"nav    nav"    7vh
			"main   main"   86vh
			"footer footer" 7vh
			/ 13rem 1fr;
	}
	aside { display: none; }
}
@media screen and (min-width: 768px) and (max-width: 991px) { 
	/* Medium */
	body {
		grid-template:
			"nav    nav"    7vh
			"main   main"   86vh
			"footer footer" 7vh
			/ 13rem 1fr;
	}
	aside { display: none; }
}
@media screen and (min-width: 992px) and (max-width: 1199px) { 
	/* Large */
	body {
		grid-template:
			"nav    nav"    7vh
			"main   main"   86vh
			"footer footer" 7vh
			/ 13rem 1fr;
	}
	aside { display: none; }
}
@media screen and (min-width: 1200px) { 
	/* Extra Large */
	body {
		grid-template:
			"aside  nav"    7vh
			"aside  main"   86vh
			"footer footer" 7vh
			/ 12rem 1fr;
	}
}
/* ------------------- General Style ---------------- */
body {
	display: grid;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
}
nav {
	grid-area: nav;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: var(--d-blue);
	color: white;
	padding: 1rem;
	z-index: 1;
	box-shadow: 1px 1px 10px rgb(179, 177, 177);
}
aside {
	grid-area: aside;
	background-color: var(--d-red);
	color: white;
	z-index: 2;
	filter: drop-shadow(2px 4px 6px rgb(0, 0, 0, 0.3));
}
body > main {
	grid-area: main;
	background-image: linear-gradient(233deg, #faf4ff, #e8fbff);
	color: #3b336e;
	padding: 0.2rem min(1.4rem, 7%) 1rem min(1.4rem, 7%);
	overflow: auto;
}
footer {
	grid-area: footer;
	background-color: var(--d-blue);
	color: white;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	filter: drop-shadow(2px 0px 6px rgb(0, 0, 0, 0.3));
}
/* --------------------- Anything in Time ---------------------- */
#burger { display: none; }
input, textarea {
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}
input:focus, textarea:focus { outline: none; }
/* ---------------- Nav --------------- */
nav a {
	text-decoration: none;
	color: #d8d3e8;
	padding: 0.4rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}
nav a:hover { text-decoration: underline; }
nav a svg {
	margin: 3px;
	fill: #d8d3e8;
}
/* --------------- Aside ------------------ */
aside #logo { padding: 1rem; }
aside a:hover, aside button:hover { background-color: #391125; }
aside .aside-group { padding: 0 0 1.3rem 0; }
aside label {
	color: #987184;
	margin: 0;
	padding: 0 1.2rem 0.1rem 1.2rem;
	font-size: 75%;
	text-transform: uppercase;
	font-weight: 600;
}
aside ul { margin: 0.5rem; }
aside ul, aside li { 
	list-style-type: none; 
	padding: 0;
}
aside button, aside a {
	font-size: 0.9rem;
	padding: 0.7rem 0.5rem;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	background: none;
	width: 100%;
	border: none;
	color: #eae1e5;
	cursor: pointer;
	font-weight: 400;
	display: flex;
	align-items: center;
}
aside svg { margin-right: 7px; }
aside hr {
	border: none;
	border-bottom: 1px solid #1f171d;
	margin: 0 0.2rem;
}
aside .search { 
	display: flex;
	flex-direction: column;
 }
aside .search input {
	background: #390a16;
	color: snow;
	padding: 7px 12px;
	border-radius: 7px;
	margin: 0.6rem;
	border: none;
}
/* ------------------ Footer -------------------- */
footer p, footer a {
	line-height: 0;
	text-decoration: none;
}
footer p { color: lightgray; }
footer a { color: white; }
#logo {
	margin-bottom: 1rem;
	font-size: larger;
}
/* ------------------- Above-menu ------------------ */
.above-menu { 
	float: right;
	position: relative;
}
.above-menu .menu { 
	visibility: hidden;
	position: absolute;
	right: 0;
	width: 150px;
	background-color: rgb(255, 255, 255);
	margin: 10px 0px;
	z-index: 100;
	padding: 15px;
	border-radius: 8px;
	outline: 1px solid rgb(190, 190, 190);
	filter: drop-shadow(1px 0px 7px rgb(206, 206, 206));
}
.above-menu .visivel { visibility: visible; }
.above-menu ul, .above-menu li {
	margin: 0;
	padding: 0;
}
.above-menu button {
	border-radius: 6px;
	border: none;
	background: rgb(107, 99, 86);
	color: rgb(255, 255, 255);
	padding: 7px 14px;
	cursor: pointer;
}
.above-menu li {
	list-style-type: none;
	border-radius: 4px;
	padding: 6px 13px;
	margin: 10px 0;
	background: rgb(236, 232, 227);
}
.above-menu li:hover {
	cursor: pointer;
	background: rgb(209, 203, 195);
}