form > input {
	padding: 0.7rem;
	border-radius: 0.4rem;
	background: cornflowerblue;
	border: none;
	margin: 0.7rem;
	color: white;
}
fieldset input, textarea {
	padding: 0.6rem;
	border-radius: 5px;
	border: none;
	background: var(--p-blue);
	margin: 0.7rem;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}
textarea {
	resize: none;
	color: gray;
}
fieldset { border: none; }
#card {
	min-width: 40vw;
	background: white;
	border-radius: 9px;
	box-shadow: 1px 1px 10px lightgray;
	margin: 1.2rem;
	padding: 1.8rem 2.5rem;
}	
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#cadastrar { float: right; }
fieldset {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	align-items: center;
}
