@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
* {
	-webkit-user-drag: none;
}
:root {
	font-size: 16px;

	--smoke: whitesmoke;

	--blue: #4e3eb1;
	--p-blue: #e4e2ec;
	--d-blue: #3b336e;

	--red: #a52a2a;
	--p-red: #e9e2e2;
	--d-red: #690000;

	--yellow: #e1b532;
	--p-yellow: #e9e7e1;
	--d-yellow: #5f532e;

	--green: #2e8b57;
	--p-green: #d2e1d9;
	--d-green: #365142;
}

.green {
	background-color: var(--green);
	color: var(--smoke);
}
.yellow {
	background-color: var(--yellow);
	color: var(--smoke);
}
.red {
	background-color: var(--red);
	color: var(--smoke);
}
.blue {
	background-color: var(--blue);
	color: var(--smoke);
}
.white {
	background-color: var(--smoke);
	color: var(--d-blue);
}

.btn {
	padding: 0.7rem 1rem;
	margin: 1px 2px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	min-width: 6rem;
	text-align: center;
	text-decoration: none;
}
.btn:hover {
	box-shadow: 1px 1px 0.5rem rgb(0, 0, 0, 0.5);
	/* box-shadow: 1px 1px 0.5rem black; */
}
.in {
	padding: 0.7rem 1rem;
	border: 1px solid gray;
	border-radius: 0.3rem;
	cursor: pointer;	
}
