:root {
	font-size: 16px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	--smoke: whitesmoke;

	--blue: #4e3eb1;
	--p-blue: #e4e2ec;
	--d-blue: #3b336e;

	--red: #a52a2a;
	--p-red: #e9e2e2;
	--d-red: #690000;

	--yellow: #e1b532;
	--p-yellow: #e9e7e1;
	--d-yellow: #5f532e;

	--green: #2e8b57;
	--p-green: #d2e1d9;
	--d-green: #365142;
}
* {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
body {
	overflow: hidden;
}
.green {
	background-color: var(--green);
	color: var(--smoke);
}
.yellow {
	background-color: var(--yellow);
	color: var(--smoke);
}
.red {
	background-color: var(--red);
	color: var(--smoke);
}
.blue {
	background-color: var(--blue);
	color: var(--smoke);
}
.white {
	background-color: var(--smoke);
	color: var(--d-blue);
}

.btn {
	padding: 0.7rem 1rem;
	margin: 0.1rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	min-width: 6rem;
	text-align: center;
	text-decoration: none;
}
.btn:hover {
	box-shadow: 1px 1px 0.5rem rgb(0, 0, 0, 0.5);
}
.in {
	padding: 0.7rem 1rem;
	border: 1px solid gray;
	border-radius: 0.3rem;
	cursor: pointer;	
}
