section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.tarefa {
	-webkit-user-drag:element;
}
.highlight {
	background: midnightblue;
}
article {
	flex-grow: 1;
	margin: 0.3rem;
}
.coluna-head {
	/* margin-bottom: 1.3rem; */
	padding: 0.8rem;
}
.coluna-body {
	padding: 1rem;
	border-radius: 5px;
}
.add-tarefa {
	border-radius: 0.5rem;
	background-color: #ceced4;
	padding: 1.1rem 1.3rem;
	box-shadow: 1px 1px 1.3rem #c9c9e3;
	display: flex;
	cursor: pointer;
}
.add-tarefa:hover {
	box-shadow: 1px 1px 0.5rem rgb(161, 161, 161);
}
.add-tarefa svg {
	margin-right: 10px;
}
label {
	color: #9692b4;
	display: inline-block;
	width: 100%;
	margin-bottom: 0.5rem;
	padding-bottom: 3px;
}
#aguardando {
	border-bottom: 3px solid mediumaquamarine;
}
#andamento {
	border-bottom: 3px solid sandybrown;
}
#concluido {
	border-bottom: 3px solid seagreen;
}
#espera {
	border-bottom: 3px solid peru;
}
#cancelado {
	border-bottom: 3px solid purple;
}
.tarefa {
	border-radius: 7px;
	background-color: #ffffff;
	padding: 1.1rem 1.3rem;
	box-shadow: 0px 1px 0.5rem #dbdbec;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
	margin-bottom: 5px;
}
.tarefa:hover {
	background: #e3e3e3;
	box-shadow: none;
}
.data {
	font-size: 0.7rem;
	align-self: flex-end;
}