h1 {
	font-weight: 400;
	padding: 0.5rem 1.5rem;
}
p {
	line-height: 1.8rem;
}
.highlight {
	background: #e9e7e1;
	display: flex;
	padding: 1rem 2rem 1rem 0;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
img {
	height: 36vh;
}
table, td, th {
	border: none;
	border-collapse: collapse;
	padding: 9px;
	min-width: 400px;
}
.projeto {
	margin: auto;
	width: 80%;
	display: block;
}
main {
	display: flex;
}
figure {
	background-color: var(--d-blue);
	border-radius: 5px;
	display: flex;
}
figure a {
	text-decoration: none;
	color: white;
	padding: 1rem 1.5rem;
	display: flex;
	flex-direction: column;
}
figure p {
	flex: 1;
	overflow: hidden;
	margin: 0;
	line-height: normal;
}
h3 {
	font-size: 12px;
}
main > * {
	flex: 1;
}
.projetos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content:flex-start;
	padding: 3rem;
}
.projetos > * {
	width: 20%;
	min-width: 200px;
	margin: 3px;
	height: 19vh;
	overflow: hidden;
}
.projetos > *:hover {
	filter: drop-shadow(1px 1px 10px rgba(70, 70, 70, 0.739));
}
figure:last-child {
	text-align: center;
	display: flex;
	justify-content: center;
}
figure:last-child a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
figure:last-child svg {
	height: 60%;
	width: 60%;
}