main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.card {
	background: white;
	padding: 2rem 3rem;
	border-radius: 7px;
	box-shadow: 1px 1px 12px rgb(182, 182, 182);
	min-width: 20vw;
}
fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.in-group {
	display: flex;
	flex-direction: column;
	padding: 0.1rem 1rem;
	flex-grow: 1;
	padding: 1rem 0;
}
blockquote {
	text-align: right;
}
label {
	margin: 2px;
	color: var(--o-blue);
}