body {
	background-image: linear-gradient(to right bottom, #001b48, #02457a);
	background-repeat: no-repeat;
}
main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
.card {
	background: white;
	padding: 2rem 3rem;
	/* border-radius: 7px; */
	box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.5);
	min-width: 20vw;
}
fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.in-group {
	display: flex;
	flex-direction: column;
	padding: 0.1rem 1rem;
	flex-grow: 1;
	padding: 1rem 0;
}
blockquote {
	text-align: right;
	color: lightgray;
}
blockquote a {
	color: snow;
}
label {
	margin: 2px;
	color: var(--o-blue);
}