fieldset {
	border: none;
	display: flex;
	flex-direction: column;
}
fieldset .in {
	display: block;
	margin: 0.3px;
}
.in:first-of-type {
	min-width: 50vw;
}
.in:last-child {
	min-width: 50vw;
	min-height: 20vh;
	resize: none;
}
label:last-of-type {
	margin-top: 1.3rem;
}
label {
	color: grey;
}
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#card {
	min-width: 40vw;
	background: white;
	border-radius: 0.6rem;
	box-shadow: 1px 1px 0.3rem lightgray;
	margin: 1.3rem;
	padding: 2rem;
}
.btn {
	float: right;
	min-width: 7.5rem;
}